<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">
            <i class="fas fa-list-ul mr-2"></i>
            Famokarana Hira Maro
        </h3>
    </div>
    <div class="card-body">
        <form action="treatment-hira-maro" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label class="form-label">
                            <i class="fas fa-folder mr-1"></i>
                            Toerana ametrahana ny hira ho vokarina
                        </label>
                        <input type="text" class="form-control" name="path" placeholder="Ohatra: D:\Hira\">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label class="form-label">
                            <i class="fas fa-font mr-1"></i>
                            Tarehan-tsoratra ampiasaina
                        </label>
                        <input type="text" class="form-control" name="fontFamily" value="Calibri">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label class="form-label">
                            <i class="fas fa-text-height mr-1"></i>
                            Haben'ny tarehan-tsoratra
                        </label>
                        <input type="number" class="form-control" name="fontSize" value="220" min="10" max="300">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label class="form-label">
                            <i class="fas fa-music mr-1"></i>
                            Hira ho vokarina
                        </label>
                        <div class="input-group">
                            <select name="hira-select" id="select-hira" class="form-control editable-select">
                                <option th:each="item : ${list}" th:value="${item}" th:text="${T(fjkm.agf.slidegenerator.utils.ObjectUtility).sexifyToUpperCase(item)}"></option>
                            </select>
                            <div class="input-group-append">
                                <button id="add-hira" type="button" class="btn btn-primary">
                                    <i class="fas fa-plus mr-1"></i>
                                    Manampy
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="mb-3">
                        <label class="form-label">
                            <i class="fas fa-list mr-1"></i>
                            Lisitry ny hira voasafidy (azo avadika ny filaharany)
                        </label>
                        <div class="container-fluid" style="border: 1px solid #ced4da; border-radius: 4px; min-height: 100px; padding: 10px;">
                            <ul id="sortable-list-hira" style="list-style: none; padding: 0; margin: 0;"></ul>
                            <div id="empty-message" class="text-muted text-center" style="padding: 20px;">
                                <i class="fas fa-info-circle mr-2"></i>
                                Tsy misy hira voasafidy mbola
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="mb-3">
                        <button id="validate_vakiteny" class="btn btn-primary btn-lg" type="submit">
                            <i class="fas fa-check mr-2"></i>
                            Hamarino
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>