<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    <i class="fas fa-home mr-1"></i>
                    Tongasoa eto amin'ny Slidegenerator
                </h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-12">
                        <div class="info-box bg-info">
                            <span class="info-box-icon"><i class="fas fa-music"></i></span>
                            <div class="info-box-content">
                                <span class="info-box-text">Hira Iray</span>
                                <span class="info-box-number">Mamokatra slide hira iray</span>
                                <div class="progress">
                                    <div class="progress-bar" style="width: 100%"></div>
                                </div>
                                <span class="progress-description">
                                    <a href="#"
                                        onclick="loadComponent('form-hira', 'Mamokatra hira iray'); pushState('form-hira', 'Mamokatra hira iray');"
                                        class="text-white">
                                        Hanomboka <i class="fas fa-arrow-circle-right"></i>
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-12">
                        <div class="info-box bg-success">
                            <span class="info-box-icon"><i class="fas fa-list-ul"></i></span>
                            <div class="info-box-content">
                                <span class="info-box-text">Hira Maro</span>
                                <span class="info-box-number">Mamokatra slide hira maro</span>
                                <div class="progress">
                                    <div class="progress-bar" style="width: 100%"></div>
                                </div>
                                <span class="progress-description">
                                    <a href="#"
                                        onclick="loadComponent('form-hira-maro', 'Mamokatra hira maro'); pushState('form-hira-maro', 'Mamokatra hira maro');"
                                        class="text-white">
                                        Hanomboka <i class="fas fa-arrow-circle-right"></i>
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-12">
                        <div class="info-box bg-warning">
                            <span class="info-box-icon"><i class="fas fa-calendar-alt"></i></span>
                            <div class="info-box-content">
                                <span class="info-box-text">Programa</span>
                                <span class="info-box-number">Mamokatra programa</span>
                                <div class="progress">
                                    <div class="progress-bar" style="width: 100%"></div>
                                </div>
                                <span class="progress-description">
                                    <a href="#"
                                        onclick="loadComponent('form-programme', 'Mamokatra programa'); pushState('form-programme', 'Mamokatra programa');"
                                        class="text-white">
                                        Hanomboka <i class="fas fa-arrow-circle-right"></i>
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-12">
                        <div class="info-box bg-danger">
                            <span class="info-box-icon"><i class="fas fa-book"></i></span>
                            <div class="info-box-content">
                                <span class="info-box-text">Hira Rehetra</span>
                                <span class="info-box-number">Mamokatra ny hira rehetra</span>
                                <div class="progress">
                                    <div class="progress-bar" style="width: 100%"></div>
                                </div>
                                <span class="progress-description">
                                    <a href="#"
                                        onclick="loadComponent('form-hira-rehetra', 'Mamokatra ny hira rehetra'); pushState('form-hira-rehetra', 'Mamokatra ny hira rehetra');"
                                        class="text-white">
                                        Hanomboka <i class="fas fa-arrow-circle-right"></i>
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    <i class="fas fa-info-circle mr-1"></i>
                    Fampahalalana
                </h3>
            </div>
            <div class="card-body">
                <div class="callout callout-info">
                    <h5><i class="fas fa-info mr-1"></i> Fomba fampiasana:</h5>
                    <p>Safidio ny karazana slide tadidiavinao eto amin'ny menu havia na eo ambony. Fenoy ny form ary
                        tsindrio
                        "Hamarino" raha vita.</p>
                </div>
                <div class="callout callout-warning">
                    <h5><i class="fas fa-exclamation-triangle mr-1"></i> Fanamarihana:</h5>
                    <p>Ataovy azo antoka fa misy Java 17+ eo amin'ny solosaina ary misy PowerPoint raha tiana mamokatra
                        slide.</p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>