<!-- Brand Logo -->
<a href="/" class="brand-link">
    <img src="images/ppt.png" alt="SLIDEGENERATOR LOGO" class="brand-image" style="opacity: .8">
    <span class="brand-text font-weight-light">SLIDEGENERATOR</span>
</a>

<!-- Sidebar -->
<div class="sidebar">
    <!-- Sidebar Menu -->
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
            <li class="nav-item">
                <a href="form-hira" class="nav-link">
                    <i class="nav-icon fas fa-book"></i>
                    <p>
                        Mamokatra hira
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="form-programme" class="nav-link">
                    <i class="nav-icon fas fa-book"></i>
                    <p>
                        Mamokatra programa
                    </p>
                </a>
            </li>

            <li class="nav-item">
                <a href="form-hira-rehetra" class="nav-link">
                    <i class="nav-icon fas fa-book"></i>
                    <p>
                        Mamokatra ny hira rehetra
                    </p>
                </a>
            </li>
        </ul>
    </nav>
    <!-- /.sidebar-menu -->
</div>
<!-- /.sidebar -->